[submodule "pack/go/start/vim-go"]
	path = pack/go/start/vim-go
	url = https://github.com/fatih/vim-go.git
	update = checkout
	branch = master
[submodule "pack/common/start/YouCompleteMe"]
	path = pack/common/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
	update = checkout
	branch = master
[submodule "pack/common/start/nerdtree"]
	path = pack/common/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	update = checkout
	branch = master
[submodule "pack/common/start/gruvbox"]
	path = pack/common/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
	update = checkout
	branch = master
[submodule "pack/common/start/vim-fugitive"]
	path = pack/common/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	update = checkout
	branch = master
[submodule "pack/common/start/vim-gitgutter"]
	path = pack/common/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
	update = checkout
	branch = master
[submodule "pack/common/start/nerdcommenter"]
	path = pack/common/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
	update = checkout
	branch = master
[submodule "pack/common/start/YCM-Generator"]
	path = pack/common/start/YCM-Generator
	url = https://github.com/rdnetto/YCM-Generator.git
	update = checkout
	branch = stable
[submodule "pack/common/start/vim-autoformat"]
	path = pack/common/start/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
	update = checkout
	branch = master
[submodule "pack/common/start/vim-clang-format"]
	path = pack/common/start/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format.git
	update = checkout
	branch = master
[submodule "pack/js/start/vim-jsx"]
	path = pack/js/start/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
	update = checkout
	branch = master
[submodule "pack/js/start/vim-javascript"]
	path = pack/js/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
	update = checkout
	branch = master
[submodule "pack/common/start/ale"]
	path = pack/common/start/ale
	url = https://github.com/w0rp/ale.git
	update = checkout
	branch = master
[submodule "pack/go/start/vim-obsession"]
	path = pack/go/start/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
